body{margin:0;padding:0; background:url(../images/bg.jpg) no-repeat fixed; font-size:14px; font-family:"微软雅黑"; font-family:"Microsoft YaHei"; color:#333333}
ul{list-style:none; margin:0;padding:0; font-size:14px;}
li{line-height:25px;}
a {color:#333333;text-decoration:none; }
a:hover {color:#00cc99; text-decoration:underline;}
p{margin:0;padding:0;}
img{outline:none; border:none;}

/*首页*/
.navbox{width:100%; 
height:80px;
overflow:hidden; 
float:left;  
background:#ffffff; 
filter:alpha(opacity=90); 
-moz-opacity:0.9; 
opacity:0.9; 
top:0px;
left:0px;
position:fixed;
_position:absolute;
_top:expression(documentElement.scrollTop + "px"); 
z-index:9999;}

.nav{width:1200px; height:80px; margin:0 auto 0 auto;  }

.logo{width:260px; height:72px; float:left; margin:7px 0 0 20px; display:inline; filter:alpha(opacity=100); -moz-opacity:1; opacity:1;}
.addbox{width:400px; height:60px; float:left; margin:10px 0 0 50px; display:inline;}
.linksbox{width:310px; height:60px; float:left; margin:10px 0 0 50px; }
.links{ height:20px; width:150px;  float:left; margin:10px 0 0 5px; display:inline; line-height:20px; }
.linkslogo{width:25px; height:20px; float:left;  }
.links_a{height:20px; float:left; margin: 0; display:inline;}
.mgl{margin-left:150px; display:inline;}
.weixin{width:86px; height:86px; float:right; margin:2px 10px 0 0px;}
.bigbox{width:100%; overflow:hidden; float:left; position:relative; z-index:100}
.alphabox{width:1200px; height:450px; margin:0 auto 0 auto; }
.alphabox2{width:1200px; height:300px; margin:0 auto 0 auto; }
.whitebox{width:100%; overflow:hidden; float:left; background:#ffffff; }
.con{width:1200px; overflow:hidden; margin:0 auto 0 auto;  padding-bottom:10px;}
.con_left{width:410px; overflow:hidden; float:left; }
.con_right{width:785px; overflow:hidden; float:right; }

.gonggao{width:410px; height:218px; float:left; background:#ffffff; margin:165px 0 0 0;}
.gg_title{width:400px; height:30px; line-height:30px; float:left; margin:5px; display:inline; background:#00cc99; color:#ffffff; -moz-border-radius:10px; -webkit-border-radius:10px;  border-radius:10px;  overflow:hidden; font-size:16px; }
.gg_title a{width:380px; height:30px; float:left; margin:0 0 0 10px; display:inline;color:#ffffff; text-decoration:none;}
.gg_title a:hover{width:380px; height:30px; float:left; margin:0 0 0 10px; display:inline; color:#ffffff; text-decoration:underline;}
.gg_con{width:380px; height:130px; float:left; margin:10px; display:inline; color:#333333;line-height:26px; overflow:hidden;}
.gg_link{width:50px; height:22px; line-height:22px;  float:right; margin:0 10px 0 10px; display:inline; text-align:center; background:#00cc99; color:#ffffff;  -moz-border-radius:10px; -webkit-border-radius:10px;  border-radius:10px;}
.gg_link a{color:#ffffff; text-decoration:none;}
.gg_link a:hover{color:#ffffff; text-decoration:underline;}

.bigbtn{width:205px; height:218px; float:left; margin:165px 0 0 150px;  display:inline;  cursor:pointer;}
.bigbtn_img{width:175px; height:175px; margin:0 auto 0 auto; border:none; outline:none; }
.bigbtn_text{width:205px; height:38px; float:left;  -moz-border-radius:10px; -webkit-border-radius:10px;  border-radius:10px;  background:#f9f9f9; line-height:38px; text-align:center; font-size:20px; margin:5px 0 0 0;} 
.bigbtn_text a{color:#fe9600;}
.bigbtn_text2 a{color:#0baae0;} 


.jindu{width:410px; float:left; margin-top:5px;  overflow:hidden;}
.jindu_t1{width:300px; height:30px; float:left; font-size:18px; line-height:30px; }
.jindu_t2{fwidth:200px; height:30px; loat:right; font-size:12px; text-align:right;  line-height:38px;}
.jd_table{width:410px; height:220px; float:left; margin-top:5px; background:#f9f9f9;}
.jd_table_row{width:410px; height:50px; float:left; font-size:16px; line-height:50px; text-align:center;  margin:4px 0 0 0; }
.jd_table_c1{width:60px;height:30px; float:left; padding-top:10px; }
.jd_table_c2{width:80px;height:30px; float:left;  text-align:right;  }
.jd_table_c3{width:140px ;height:30px; float:left;  color:#ff7171; font-size:26px; font-weight:bold;  }
.jd_table_c4{width:40px;height:30px; float:left;}
.jd_table_c5{width:60px;height:30px; float:left;}
.jdtips{width:410px; height:100px; float:left; background:#f9f9f9;}
.jdtips p{line-height:20px; font-size:12px; padding:2px 0 0 20px;}

.lbtnbox{width:765px; overflow:hidden; float:right; margin:5px 0 0 5px; display:inline; }
.lbtn{width:250px; height:90px; float:left; margin:25px 0 0 5px; display:inline;cursor:pointer;}
.lbtn_img{width:90px; height:90px; float:left;}

.lbtn_text{width:150px; float:left; font-size:18px; margin:35px 0 0 0;}

.lxbox{width:410px; overflow:hidden; float:left; margin:5px 0 0 0;}
.lxtable1{width:410px; height:225px; float:left; background:#f7f7f7;}
.lxtable2{width:410px; height:140px; float:left; background:#f7f7f7; margin-top:8px;}
.lxtable3{width:410px; height:70px; float:left; background:#f7f7f7; margin:8px 0 10px 0;}



.ckgd{width:390px; overflow:hidden; float:left;}
.ckgd_title{width:350px; text-align:center; font-size:20px; color:#00cc99; }
.ckgd p{line-height:35px;}

.cncebox{width:783px; height:100px; float:right; margin:5px 0 0 5px; display:inline; }
.cncebtn{width:192px; height:100px; float:left; margin:0 0 0 5px; display:inline;  background:#f2f2f2;cursor:pointer;}
.mgl0{margin-left:0px;}
.cncebtn_img{width:70px; height:70px; float:left; margin:0px 0 0 61px; display:inline; }
.cncebtn_text{width:100px; height:30px; float:left; margin:0px 0 0 46px; display:inline; text-align:center; font-size:18px; }


.ckmd{width:783px; height:362px; float:right; margin:30px 0 0 0; display:inline;  overflow:hidden; }
.cktitle{width:783px; height:30px; float:left;  line-height:30px; font-size:16px; text-indent:10px; background:#f2f2f2}
.ckmd_scoll{width:783px; height:300px; float:left; }
.cktable{width:783px; text-align:left;font-size:14px; background:#f2f2f2}

.footer{width:100%; height:200px; float:left; background:#333333; padding-top:30px; }
.footer_img{width:655px; height:130px; margin:20px auto 0 auto; border:1px #ffffff;}
.footer_row{width:100%;  overflow:hidden; text-align:center; color:#e7e7e7;  float:left; margin:20px auto 0 auto;}
.footer_linksbox{width:460px; overflow:hidden; margin:0 auto 0 auto;}
.footer_links{padding:0 10px 0 10px;  height:26px; float:left;   }
.footer_links a{color:#e7e7e7;}




/*首页*/


/*流程*/
.main{width:1200px;margin:0 auto 0 auto; }
.mainauto{width:1200px; float:left;  background:#fff;height:auto !important; min-height:500px; _height:500px;}



.main_t{width:410px; height:40px; float:left; margin:410px 0 0 0; }
.tbg1{width:170px; height:40px; float:left; background:#e7e7e7;margin-left:0px; display:inline;line-height:40px; font-size:18px;  text-align:center;color:#777777; font-weight:bold;}
.tbg2{width:170px; height:40px; float:left; background:#ffffff;margin-left:0px; display:inline;line-height:40px; font-size:18px;  text-align:center;color:#00cc99; font-weight:bold;}
.tbg2 a{color:#2d8cad; text-decoration:none;}
.tbg2 a:hover{color:red; text-decoration:underline;}
.tbg1 a{color:#2d8cad; text-decoration:none;}
.tbg1 a:hover{color:#51b5d7; text-decoration:underline;}
.tbg3{width:200px; height:40px; float:left; background:#e7e7e7;margin-left:0px; display:inline;line-height:40px; font-size:18px;  text-align:center;color:#333333; font-weight:bold;}
.tbg4{width:70px; height:40px; float:left; background:#00cc99;margin-left:0px; display:inline;line-height:40px; font-size:18px;  text-align:center;color:#ffffff; font-weight:bold;}
.tbg4 a{color:#ffffff;}
.tbg4 a:hover{color:#ffffff;}
.liucheng_t2{width:1200px; overflow:hidden; float:left; margin:0; display:inline; line-height:30px; }
.liucheng_t2img{width:980px; height:700px;  margin:0 auto 0 auto;  }



/*预约*/
.main2{width:960px; float:left; height:auto !important; min-height:50px;  _height:50px; background:#fff; }

/*加工*/
.jiagong{width:1200px; height:33px; background:#e7e7e7; float:left; margin:30px 0 0 10; display:inline; line-height:33px; font-weight:bold;}
.jgtb{width:1200px; float:left; text-align:center;}
.jgbg{width:360px;height:33px; float:left; line-height:33px; font-weight:bold; color:#ffffff; text-indent:80px;}
.jgset{width:50px; height:33px; float:left; margin:0 0 0 30px; display:inline; line-height:33px; color:#333333;}
.jgse{width:330px; height:16px; float:left; margin:5px 0 0 10px; display:inline; color:#aaaaaa;}
.jgsb{width:50px; height:23px; float:left; margin:5px 0 0 10px; display:inline;}


/*问答*/
.news5{width:1200px; height:auto !important; min-height:180px;  _height:180px; float:left;  display:inline; }
.news5 li{width:1200px; height:auto !important; min-height:25px;  _height:25px;  float:left; padding:10px 0 10px 0;}
.news5 ul{float:left;}
.bb1{ text-indent:2em; }
.bb2{border-bottom:1px dashed #e2e2e2; text-indent:2em; }
.tb{font-weight:bold;}


.newswd{width:1200px; height:auto !important; min-height:180px;  _height:180px; float:left;  display:inline; }
.newswd li{width:570px; height:30px; float:left; margin:0;   float:left; padding:10px;  margin:5px 0 0 5px; display:inline; line-height:30px;background:#f2f2f2; color:#333333; -moz-border-radius:10px; -webkit-border-radius:10px;  border-radius:10px; }
.newswd ul{float:left; margin-top:10px;}



/*
.newswd a:hover {animation-name:dla;-webkit-animation:dla 0.4s linear 0s forwards;-moz-animation:dla 0.4s linear 0s forwards;-0-animation:dla 0.4s linear 0s forwards;animation:dla 0.4s linear 0s forwards;}
@-webkit-keyframes dla{from{width:500px;background:#e2e2e2; color:#333333;} to{width:700px; background:#00cc99; color:#ffffff;} }
@-moz-keyframes dla{from{width:500px;background:#e2e2e2; color:#333333;} to{width:700px; background:#00cc99; color:#ffffff;} }
@-o-keyframes dla{from{width:500px;background:#e2e2e2; color:#333333;} to{width:700px; background:#00cc99; color:#ffffff;} }
@keyframes dla{from{width:500px;background:#e2e2e2; color:#333333;} to{width:700px; background:#00cc99; color:#ffffff;} }*/