@charset "utf-8";
body{margin:0;padding:0; background:#f0f0f0; overflow-y: scroll;}
ul{list-style:none; margin:0;padding:0; font-size:12px;}
li{line-height:25px; padding-left:10px; margin-left:5px; display:inline; }
a {color:#000; text-decoration:none;}
a:hover {color:#335416; text-decoration:underline;}

.fw{font-weight:bold; background:#cae8ea; }


.main{width:1460px;  margin:0 auto 0 auto;  }
.main2{width:1460px; height:auto !important; min-height:100px; _height:100px;background:#fff; float:left; }

.logo{width:300px; height:150px; float:left; margin:50px 0 0 30px; display:inline; }
.split{width:1460px; height:10px; float:left; background:url(../images/split.jpg) repeat-x;}


.main_t{width:1460px; height:48px; float:left; margin:5px 0 0 0;background:url(../images/tbg.jpg) repeat-x; }

.tbg1{width:185px; height:48px; float:left; background:url(../images/tbg1.jpg) no-repeat;margin-left:3px; display:inline;line-height:48px; font-size:22px;  text-align:center;color:#2d8cad; font-weight:bold;}
.tbg2{width:185px; height:48px; float:left; background:url(../images/tbg2.jpg) no-repeat;margin-left:3px; display:inline;line-height:48px; font-size:22px;  text-align:center;color:#2d8cad; font-weight:bold;}



.tbg2 a{color:#2d8cad; text-decoration:none;}
.tbg2 a:hover{color:red; text-decoration:underline;}

.tbg1 a{color:#2d8cad; text-decoration:none;}
.tbg1 a:hover{color:#51b5d7; text-decoration:underline;}



.t_t1 a{color:red; text-decoration:none;}
.t_t1 a:hover{color:red; text-decoration:underline;}

.liuchengimg{ width:980px; height:1370px; margin:10px auto 0 auto; }
.lianxiimg{ width:616px; height:556px; margin:10px auto 0 auto; }

.main_r{width:1460px; height:auto !important; min-height:500px; _height:500px; float:left; margin-top:10px; }

.toppic2{width:1460px; height:221px; float:left; background:url(../images/yuyue.jpg) no-repeat; overflow:hidden; }

.ttbg{width:250px; height:57px; float:left; background:url(../images/ttbg2.jpg) no-repeat; margin-top:10px;}
.tttxt{width:140;height:40px; float:left; margin:0 0 0 60px; display:inline; font-size:26px; line-height:55px; color:#fff; font-weight:bold; font-family:"黑体";}


.news{width:211px;height:auto !important; min-height:170px; _height:170px;  float:left; margin-left:17px; display:inline; background:#f0f0f0; }
.news li{width:190px; height:25px; float:left; overflow:hidden;}

.bigbtn{width:250px; height:74px; float:left; margin:20px 0 0 0px; background:url(../images/bigbtn2.jpg) no-repeat; color:#fff; font-size:26px; line-height:74px; text-align:center;font-family:"黑体"; font-weight:bold; }

.bigbtn a {color:#fff; text-decoration:none; }
.bigbtn a:hover {color:#335416; text-decoration:underline;}

.copyr{width:1460px; height:50px; float:left;  background:#cae8ea; text-align:center; font-size:12px; padding-top:10px; line-height:25px;}

.liucheng{width:198px; height:150px; position:relative;float:left; margin-left:5px; display:inline;}
.ms{width:130px;height:66px;position:absolute; left:60px; top:80px;}

.fs{font-size:24px; line-height:30px; padding-top:8px;}

.mid{width:10px; height:2460px; float:left; background:#cae8ea;}

.closel{width:10px; height:50px; float:left; margin-top:200px; background:url(../images/close.jpg) no-repeat; }
.openl{width:10px; height:50px; float:left; margin-top:200px; background:url(../images/open.jpg) no-repeat;}

.showtime{width:200px; height:35px; line-height:35px; color:#2d8cad; font-weight:bold; float:Left;margin-left:50px; display:inline;}